# Convert to allow list.
*

# Allow ignore files.
!.gitignore

# Allow dev container files.
!/.devcontainer/
!/.devcontainer/devcontainer.json

# Allow GitHub workflows.
!/.github/
!/.github/workflows/
!/.github/workflows/*.yml

# Allow source files.
!/src/
!/src/**/
!/src/**/*.ts

!/styles.css
!/version-bump.mjs

# Allow tool configuration files.
!/.editorconfig
!/.npmrc
!/AGENTS.md
!/esbuild.config.mjs
!/eslint.config.mts
!/tsconfig.json

# Allow license file.
!/LICENSE

# Allow package manifest.
!/manifest.json
!/package.json
!/package-lock.json
!/versions.json

# Allow README.
!/README.md
